body{
	font-family: Segoe UI;
	background: url(../img/bg.png);
}


.navbar-ku {
  background-color: #00be9c;
  padding-right: 17px;
}
.navbar-ku .navbar-brand {
  color: #ffffff;
}
.navbar-ku .navbar-brand:hover,
.navbar-ku .navbar-brand:focus {
  color: #33e6c6;
}

.navbar-ku .navbar-text {
  color: #777;
}
.navbar-ku .navbar-nav > li > a {
  color: #ffffff;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.navbar-ku .navbar-nav > li > a:hover,
.navbar-ku .navbar-nav > li > a:focus {
  background-color: #08cfab;
}
.navbar-ku .navbar-nav > .active > a,
.navbar-ku .navbar-nav > .active > a:hover,
.navbar-ku .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #01a789;
}
.navbar-ku .navbar-nav > .disabled > a,
.navbar-ku .navbar-nav > .disabled > a:hover,
.navbar-ku .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-ku .navbar-toggle {
  border-color: #ddd;
}
.navbar-ku .navbar-toggle:hover,
.navbar-ku .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-ku .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-ku .navbar-collapse,
.navbar-ku .navbar-form {
  border-color: #e7e7e7;
}
.navbar-ku .navbar-nav > .open > a,
.navbar-ku .navbar-nav > .open > a:hover,
.navbar-ku .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-ku .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-ku .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ku .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-ku .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ku .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ku .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-ku .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-ku .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-ku .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-ku .navbar-link {
  color: #777;
}
.navbar-ku .navbar-link:hover {
  color: #333;
}




.content{
	margin-top: 50px;
}

.navigasi{
	color: white;
}

.navigasi a{
    color: white;
}

.navigasi a:hover{
    text-decoration: none;
}

.navigasi h4{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 25px;
}

.content-isi{
	padding: 20px;
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
}

.shadow{
	box-shadow: 0 0 3px #BBB;
}

.sub-navigasi{
    padding: 10px 25px 10px 10px;
}

.sub-navigasi:hover{
    background-color: #4d4d4d;
}

.sub-navigasi:after{
    clear: both;
    content: ' ';
    display: table;
}

.sub-navigasi span{
    float: right;
    color: #08cfab;
}

.sub-navigasi a{
    color: white;
    font-size: 15px;
}

.sub-navigasi a:hover{
    color: #bcbcbc;
    text-decoration: none;
}

.btn-ku{
    background-color: #00be9c;
    border-bottom: 3px solid #00957a;
    color: white;
}

.btn-ku:hover{
    text-decoration: none;
    color: white;
    background-color: #00b595;
}

.btn-ku:focus, .btn-ku:active{
    text-decoration: none;
    color: white;
    background-color: #009c80;
    border-top: #008f75;
    border: none;
    border-bottom: 3px solid transparent;
}

.aing:nth-child(odd){
    background: #f2f2f2;
}

.aing:nth-child(even){
    background: #ffffff;
}

.aktif{
    background-color: #4d4d4d;
}

